:root {
  --color-primary: #2cbbc3;
  --color-on-primary: #fcfcfc;
  --color-secondary: #e1f1f2;
  --color-on-secondary: #15949b;
  --color-highlight: #ff9934;
  --color-on-highlight: #fcfcfc;
  --color-error: #e22121;
  --color-success: #26db6b;

  --font-title: 50;
  --font-ubtitle: 40;
  --font-text: 30;
  --font-subtext: 20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-secondary);
}

.custom-restricted-width {
  width: 200px;
}
.pure-menu-horizontal {
  width: 100%;
  padding: 0px 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary);
  box-shadow: 0px 0px 10px rgb(66, 66, 66);
}

.pure-menu-vertical {
  width: 50%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pure-menu-item {
  height: auto;
}

.pure-menu-link {
  color: var(--color-on-secondary);
  transition: border 0.2s ease-in;
  border-bottom: solid 1px transparent;
}

.pure-menu-link:hover {
  color: var(--color-highlight);
  background-color: var(--color-secondary);
  border-bottom: solid 2px var(--color-highlight);
}

.pure-menu-heading img {
  height: 60px;
}

.pure-button {
  background-color: var(--color-on-secondary);
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
}

a.pure-button-primary {
  background: var(--color-on-secondary);
  color: var(--color-on-primary);
  border-radius: 5px;
  font-size: 120%;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.pure-menu.pure-menu-fixed {
  border-bottom: none;
  z-index: 4;
}

.splash-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/img/splash_background.jpg);
  background-position: center;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.splash {
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}

.splash-subhead {
  color: white;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
}

.content-wrapper {
  position: absolute;
  top: 87%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: var(--color-secondary);
}

.content {
  padding: 1em 1em 3em;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

.content-head-ribbon {
  color: white;
}

.l-box {
  padding: 10px;
}

.content-subhead {
  color: var(--color-highlight);
  position: relative;
  padding-bottom: 5px;
}

.content-subhead i {
  margin-right: 7px;
}

.content-text {
  color: white;
}

.ribbon {
  background: var(--color-on-secondary);
  color: #aaa;
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.flex-container form {
  margin-bottom: 50px;
}

fieldset {
  height: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.checkbox-container {
  display: block;
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-image {
  left: 0;
  top: 0;
  width: 50px;
}

.download-options {
  display: flex;
  justify-content: center;
}

.checkbox-container input:checked + .checkbox-image {
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0px 0px 4px grey;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 40px 40px;
  background: #f2f2f2;
  bottom: 0;
  width: 100%;
}

.footer-access-container {
  width: 100%;
  flex-flow: row nowrap;
  overflow: hidden;
  align-items: start;
}

.footer {
  font-size:x-small;
}

.footer-contact {
  margin-top: 20px;
}

.footer-section-title{
  margin-bottom: 15px;
}

.footer-separator {
  height: 100px;
  width: 1px;
  background-color: rgba(128, 128, 128, 0.616);
}

.is-center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .flex-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .flex-container img {
    margin-right: 20px;
  }
  .flex-container form{
    padding: 20px;
  }
}
